<div class="splash-container">
    <div class="is-full-width is-relative-position">
        <div class="is-full-width has-vertical-margin-50">
            <div class="splash-container-message">
                get the<br>
                <b>best</b><br>
                <b>vaping</b><br>
                <b>deals</b>
            </div>
        </div>
        <div class="is-full-width has-vertical-margin-50">
            <a class="splash-container-button">
                our deals
            </a>
        </div>
    </div>
</div>
